label {
  display: block;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="radio"] + label {
  font-weight: normal;
  color: #666;
}

input[type="radio"]:checked + label {
  font-weight: bold;
  color: #333;
}
.container-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b95ea;
  padding: 10px 0px 10px 0px;
}
.container-output {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(78 14 14);
  padding: 10px 0px 10px 0px;
}
.container-elements {
  margin: 0% 28% 0% 28%;
  display: grid;
  align-items: center;
  background-color: #666;
  justify-content: center;
}
.container-elements-center {
  margin: 0% 10% 0% 10%;
  align-items: center;
  justify-content: center;
}
.input {
  display: flex;
  margin: 0% 10% 5% 0%;
  width: 90%;
  height: 8vh;
  font-size: 5vh;
}
.input-selection {
  margin: 0% 10% 0% 8%;
  width: 5vh;
  height: 2.8vh;
  font-size: 5vh;
}
.input-p{
  margin: 0% 0% 0% 10%;
  max-width: 20%;
  color: aquamarine;
}
.title {
  color: black;
  font-size: 250%;
}
.box {
  width: 150px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;
  margin: 0 20px;
}

.result-box {
  margin-left: 15%;
  max-width: 60%;
  align-items:center ;
}

.box input {
  width: 80%;
  font-size: 16px;
  padding: 10px;
  border: none;
  outline: none;
  align-items: center;
  justify-content: center;
}


.box p {
  text-align: center;
}
